PORT=3000
DATABASE_URL="mysql://user:password@localhost:3307/pentarium?connection_limit=5&pool_timeout=20"
JWT_SECRET="isi-dengan-string-acak-panjang"
MQTT_URL="mqtt://localhost:1883"
MQTT_ENABLED=true
